.hoverSplitContainer {
    cursor: pointer;
}

.topHalf {
    position: absolute;
    clip-path: inset(0% 0% 50% 0px);
}

.hoverSplitContainer.active {
    font-weight: 600;
}

.bottomHalf {
    position: relative;
    clip-path: inset(50% 0px 0px 0px);
}

.hoverSplitContainer:hover > .bottomHalf {
    left: -7px;
}

.hoverSplitContainer:hover > .topHalf {
    transform: translate(7px, 0px);
}

.m-50-important {
    margin-left: 50px !important;
}

* {
    scroll-behavior: smooth;
}

.name_title {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.image_spacer {
    min-height: 200px;
}
